/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@font-face {
  font-family: "Pokemon Font";
  font-style: normal;
  font-weight: normal;
  src: local("Pokemon Font"), url("../pokemon.woff") format("woff");
}
h1,
h3,
p,
button {
  font-family: "Pokemon Font";
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: -webkit-linear-gradient(rgb(51, 50, 50), rgb(14, 49, 66));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1,
h3 {
  padding: none;
  margin: 0;
  line-height: 3rem;
}
.header {
  position: fixed;
  top: 0;
  margin-bottom: 5px;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 568px;
  justify-content: center;
  align-items: center;
}
.left {
  border-radius: 72% 28% 26% 74% / 49% 51% 49% 51%;
}
.right {
  border-radius: 28% 72% 69% 31% / 49% 51% 49% 51%;
}

.footer {
  position: fixed;
  bottom: 0;
}

@media only screen and (max-width: 950px) {
  h1 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  p {
    font-size: 0.9rem;
  }
  .container {
    flex-direction: column;
  }
  img {
    width: 30vh;
    height: auto;
    margin-top: 70px;
  }
  .next,
  .prev {
    position: fixed;
    bottom: 50vh;
    transform: scale(0.5);
  }
  .next {
    right: 0;
  }
  .prev {
    left: 0;
  }
}